/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}

main .hero-container {
    padding: 0;
}

main .hero {
    position: relative;
    padding: 32px;
    min-height: 300px;
}

main .hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: red;
}


main .hero picture {
    position: absolute;
    z-index: -1;
    top: 10;
    left: 10;
    bottom: 10;
    right: 10;
    object-fit: contain;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 75%;
    height: 100%;
}
